<!DOCTYPE html>
<html>
<head>
	<style type="text/css">
	h1{
	font-size: 30px;
	text-align: center;
	color: white;
       }
	body{
	background-color: #000000;
	background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
		}
	.box{
	font-family: Garamond, serif;
	font-size: 25px;
	text-align: center;
	color: white;
		}
	.button{
    	color: white;
   
    	text-align: center;
    	font-size: 15px;
    	
			}
	</style>
	<title>Algorithm that predicts students score in final exam</title>
</head>
<h1>Algorithm that predicts students score in final exam</h1>
<div class="box">
	<body>
		<form action= "{{url_for ('predict')}}"method= "POST" style="text-align: center; ">
		<p>Exam 1 score</p>
		<input type = "Number" name="EXAM1" />
         <br>
		<p>Exam 2 score</p>
		<input type= "Number" name="EXAM2" />
         <br>
		<p>Exam 3 score</p>
		<input type = "Number" name="EXAM3"/>
         <br>
</div>
<br>
		<div class="button">
		<button type="submit">Predict</button>
		</div>
		</form>
<br>


<p style= "text-align: center; color: white">{{ prediction_text }}</p>
	</body>
</html>