<!DOCTYPE html>
<html>
<head>
	<style type="text/css">
	h1{
	font-size: 30px;
	text-align: center;
	color: white;
       }
	body{
	background-color: #000000;
	background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
		}
	.box{
	font-family: Garamond, serif;
	font-size: 25px;
	text-align: center;
	color: white;
		}
	.button{
    	color: white;
   
    	text-align: center;
    	font-size: 15px;
    	
			}
	</style>
	<title>Algorithm that predicts students score in final exam</title>
</head>
<h1>Algorithm that predicts students score in final exam</h1>
<div class="box"><body>
<p>Exam 1 score</p>
<form style="text-align: center; ">
<input type = "Number" name="EXAM1" />
         <br>
</form>
<p>Exam 2 score</p>
<form style="text-align: center; ">
<input type= "Number" name="EXAM2" />
         <br>
</form>
<p>Exam 3 score</p>
<form style="text-align: center; ">
<input type = "Number" name="EXAM3"/>
         <br>
</form>
<br>
</div>
<div class="button">
<button type="submit" class="btn btn-primary btn-block btn-large">Predict final exam score</button>
</div>
<br>
{{ prediction_text }}
</body>
</html>